<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body class="container">
    <div>
		<ul>
			<li><a asp-action="Index" asp-controller="Players">Player List</a></li>
		</ul>
        @RenderBody()
	</div>
	<script src="~/bootstrap/js/bootstrap.min.js"></script>
	<script src="~/jquery/jquery.min.js"></script>
	@RenderSection("scripts",required:false)
</body>
</html>
